html, body
{
    height: 100%;
    padding:0px;
    margin:0px;
}

body
{
    background: #f9f9f9; /* Old browsers */
    background: -moz-linear-gradient(top, #f9f9f9 0%, #eeeeee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f9f9f9 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f9f9f9 0%,#eeeeee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f9f9f9 0%,#eeeeee 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f9f9f9 0%,#eeeeee 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}

.page
{
    display: none;
}

.logo
{
    color: #ddd;
    font-size: 20px;
    line-height: 42px;
}

.container-fluid
{
    padding: 0px;
}

.search-ico
{
    position: absolute;
    left: 10px;
    top: 5px;
}

.login-button
{
    position: absolute;
    right: 10px;
    top: 5px;
}

.user-infos
{
    position: absolute;
    right: 10px;
    color: #bbb;
    line-height: 14px;
    display: inline;
    margin-top: 5px;
}

.user-infos img
{
    height: 30px;
}

#wrap
{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -42px;
}

#header
{
    margin: 0px;
    height: 42px;
    background-color: #131313;
    text-align: center;
    position: relative;
}

#push, footer
{
    height: 42px;
}

footer
{
    background-color: #131313;
}


.listView
{
    margin: 0px;
    list-style-type : none;
}

.listView li
{
    width: 100%;
    height: 80px;
    padding: 0px;
    margin: 0px;
    position: relative;
    clear: both;
    border-top: 1px solid #bbb;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f1f1f1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f1f1f1 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
}

.listView li:last-child
{
    border-bottom: 1px solid #bbb;
}

.listView li:hover
{
    background: #f6f6f6; /* Old browsers */
    background: -moz-linear-gradient(top, #f6f6f6 0%, #e0e0e0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f6f6f6 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f6f6f6 0%,#e0e0e0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f6f6f6 0%,#e0e0e0 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f6f6f6 0%,#e0e0e0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
}

.listView li .thumbmail
{
    height: 80px;
    width: 80px;
    float: left;
}

.listView-nothumbs h2, .listView-nothumbs p
{
    padding-right: 30px !important;
}

.listView li h2
{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding-top: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 35px;
}

.listView li p
{
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.listView li span
{
    font-size: 12px;
    position: absolute;
    right: 40px;
    top: 50%;
    margin-top: -6px;
    display: block;
}

.listView li .icon
{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -10px;
}

.listView li h2, .listView li p
{
    padding-left: 20px;
    padding-right: 120px;
}

.listView-header
{
    color: #fff;
    padding: .5em 15px;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    position: relative;
    overflow: visible;
    text-align: left;
    border-top-width: 1px;
    background: #6facd5; /* Old browsers */
    background: -moz-linear-gradient(top, #6facd5 0%, #497bae 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6facd5), color-stop(100%,#497bae)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #6facd5 0%,#497bae 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #6facd5 0%,#497bae 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #6facd5 0%,#497bae 100%); /* IE10+ */
    background: linear-gradient(to bottom, #6facd5 0%,#497bae 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6facd5', endColorstr='#497bae',GradientType=0 ); /* IE6-9 */
}

.listView-header-error
{
    background: #d87972; /* Old browsers */
    background: -moz-linear-gradient(top, #d87972 0%, #af4949 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d87972), color-stop(100%,#af4949)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d87972 0%,#af4949 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d87972 0%,#af4949 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d87972 0%,#af4949 100%); /* IE10+ */
    background: linear-gradient(to bottom, #d87972 0%,#af4949 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d87972', endColorstr='#af4949',GradientType=0 ); /* IE6-9 */
}


.panel
{
    position: absolute;
    top: 0px;
    left: -300px;
    width: 250px;
    height: 100%;
    z-index: 1000;
    background-color: #2E2E2E;
    -webkit-box-shadow: 5px 0px 5px 0px #000000;
    box-shadow: 5px 0px 10px 0px #111;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100
}

.list-search
{
    width: 100%;
    height: 47px;
    border: 1px solid #b3b3b3;
    color: #3e3e3e;
    font-weight: bold;
    text-shadow: 0 1px 0 #fff;
    background: #f0f0f0; /* Old browsers */
    background: -moz-linear-gradient(top, #f0f0f0 0%, #dddddd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f0f0f0 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f0f0f0 0%,#dddddd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f0f0f0 0%,#dddddd 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f0f0f0 0%,#dddddd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}

.list-search form
{
    margin: 0px;
}

.list-search input
{
    padding:0px;
    padding-left: 5px;
    height: 35px;
    width: 225px;
    margin-top: 5px;
    margin-left: 5px;
    min-height: 1.4em;
    line-height: 1.4em;
    font-size: 16px;
}