<div class="container">
  <h2 class="center">Join a room</h2>
  <!--
  <form class="form-vertical">
    <div class="input-group">
      <input type="text" ng-model="roomName" class="form-control input-lg">
      <span class="input-group-btn">
        <button class="btn btn-primary btn-lg" ng-click="selectRoom()" type="submit">Search</button>
      </span>
    </div>
  </form>
  -->
  <div class="spacer" ng-show="rooms">
    <div class="list-group">
      <a ng-repeat="room in rooms" class="list-group-item" href="/room/{{room.name}}">
	{{room.name}}
      </a>
    </div>
  </div>
  <div ng-show="error" class="spacer alert alert-danger">
    <b>Hummmm:</b> The room doesn't exist
  </div>
</div>
