<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="listView">
	<div class="listView-header listView-header-warning">
	  Admin of {{roomName}}
	</div>
	<div ng-hide="havePlayer" class="listView-header listView-header-error">
	  No Player Connected
	</div>
	<div ng-show="!currentTrack" class="listView-header">
	  No current track
	</div>
	<div ng-show="currentTrack" class="listView-header">
	  Currently Playing
	</div>
	<ul ng-show="currentTrack">
	  <li>
	    <img class="thumbmail" ng-src="{{currentTrack.track.imgUrl}}" />
	    <h3>{{currentTrack.track.name}}</h3>
	    <p>{{currentTrack.track.artists[0].name}}</p>
	    <span class="badge">{{currentTrack.votes.length}}</span>
	    <img  ng-src="{{currentTrack.addedBy.imgUrl}}" class="userImg" tooltip-placement="left" tooltip="{{currentTrack.addedBy.name}}" />
	    <a href="javascript:" class="icon" ng-click="onNextTrackClick()" >
	      <i class="fa fa-step-forward" />
	    </a>
	  </li>
	</ul>
	<div class="listView-header" ng-show="trackQueue">
	  To Come ...
	</div>
	<ul class="listView">
	  <li ng-repeat="elem in trackQueue">
	    <img class="thumbmail" ng-src="{{elem.track.imgUrl}}" />
	    <h3>{{elem.track.name}}</h3>
	    <p>{{elem.track.artists[0].name}}</p>
	    <span class="badge">{{elem.votes.length}}</span>
	    <img  ng-src="{{elem.addedBy.imgUrl}}" class="userImg"  tooltip-placement="left" tooltip="{{currentTrack.addedBy.name}}" />
	    <a href="javascript:" class="icon" ng-click="onDeleteTrackClick(elem)">
	      <i class="fa fa-trash-o" />
	    </a>
	  </li>
	</ul>
      </div>
    </div>
  </div>
</div>
