<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="listView">
	<div ng-hide="havePlayer" class="listView-header listView-header-error">
	  No Player Connected
	</div>
	<div ng-show="!currentTrack" class="listView-header">
	  No current track
	</div>
	<div ng-show="currentTrack" class="listView-header">
	  Currently Playing
	</div>
	<ul ng-show="currentTrack">
	  <li>
	    <img class="thumbmail" ng-src="{{currentTrack.track.imgUrl}}" />
	    <h3>{{currentTrack.track.name}}</h3>
	    <p>{{currentTrack.track.artists[0].name}}</p>
	    <span class="badge">{{currentTrack.votes.length}}</span>
	    <img  ng-src="{{currentTrack.addedBy.imgUrl}}" class="userImg" tooltip-placement="left" tooltip="{{currentTrack.addedBy.name}}" />
	  </li>
	</ul>
	<div class="listView-header" ng-show="trackQueue">
	  To Come ...
	</div>
	<ul class="listView">
	  <li ng-repeat="elem in trackQueue">
	    <img class="thumbmail" ng-src="{{elem.track.imgUrl}}" />
	    <h3>{{elem.track.name}}</h3>
	    <p>{{elem.track.artists[0].name}}</p>
	    <span class="badge">{{elem.votes.length}}</span>
	    <img  ng-src="{{elem.addedBy.imgUrl}}" class="userImg"  tooltip-placement="left" tooltip="{{elem.addedBy.name}}" />
	    <a href="javascript:" ng-click="onTrackClick(elem)">
	      <img class="icon" ng-show="elem.haveMyVote" src="images/star_full.png" />
	      <img class="icon" ng-show="!elem.haveMyVote" src="images/star_empty.png"/>
	    </a>
	  </li>
	</ul>
	<div class="spacer center">
	  <i> What's next ? <a href="/room/{{roomName}}/search">vote for the next song</a> !</i>
	</div>
      </div>
    </div>
  </div>
</div>
