<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Dj - Yayo</title>
    <meta name="author" content="Yayo<contact@jeromequere.com>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/" />
    <link rel="icon" type="image/png" href="images/favicon.png" />
    <link rel="apple-touch-icon" href="images/touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="images/touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="images/touch-icon-iphone-retina.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="images/touch-icon-ipad-retina.png" />
    <link type="text/css" rel="stylesheet" href="css/vendor.css" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <script src="js/vendor.js"></script>
    <script src="js/script.js"></script>
  </head>
  <body>
    <div id="panels">
      <div id="panel_menu" class="side-panel" ng-controller="MenuPanelController">
	<div class="listView-mini">
	  <ul>
	    <li>
	      <img class="thumbmail" ng-src="{{userImgUrl}}"/>
	      <h2>Hello {{userName}} !</h2>
	    </li>
	  </ul>
	  <div class="listView-header" ng-show="roomName">
	    You are in room: {{roomName}}
	  </div>
	  <ul ng-show="roomName">
	    <li>
	      <a href="/room/{{roomName}}">
		<i class="thumbmail fa fa-music"></i>
		<h2>Track queue</h2>
	      </a>
	    </li>
	    <li ng-show="roomName">
	      <a href="/room/{{roomName}}/search">
		<i class="thumbmail fa fa-search"></i>
		<h2>Search</h2>
	      </a>
	    </li>
	    <li ng-show="roomName">
	      <a href="/room/{{roomName}}/history">
		<i class="thumbmail fa fa-repeat"></i>
		<h2>History</h2>
	      </a>
	    </li>
	    <li ng-show="roomName && isRoomAdmin">
	      <a href="/room/{{roomName}}/admin/trackQueue">
		<i class="thumbmail fa fa-cog"></i>
		<h2>Administration</h2>
	      </a>
	    </li>
	    <li class="sub" ng-show="roomName && isRoomAdmin">
	      <a href="/room/{{roomName}}/admin/trackQueue">
		<h2>Tracks</h2>
	      </a>
	    </li>
	    <li class="sub" ng-show="roomName && isRoomAdmin">
	      <a href="/room/{{roomName}}/admin/users">
		<h2>Users</h2>
	      </a>
	    </li>
	    <li ng-show="roomName">
	      <a href="javascript:" ng-click="changeRoom()">
		<i class="thumbmail fa fa-sign-out"></i>
		<h2>Leave Room</h2>
	      </a>
	    </li>
	  </ul>
	  <div class="listView-header">
	  </div>
	  <ul>
	    <li ng-hide="roomName">
	      <a href="/roomSelect">
		<i class="thumbmail fa fa-sign-in"></i>
		<h2>Join a room</h2>
	      </a>
	    </li>
	    <li ng-hide="roomName">
	      <a href="/roomCreate">
		<i class="thumbmail fa fa-plus-circle"></i>
		<h2>Create a room</h2>
	      </a>
	    </li>
	    <li>
	      <a href="javascript:" ng-click="logout()">
		<i class="thumbmail fa fa-power-off"></i>
		<h2>Logout</h2>
	      </a>
	    </li>
	  </ul>
	</div>
      </div>
      <script>
	$(function() {
	  $(".side-panel").Panel({wrap: "#wrap"});
	});
      </script>
    </div>
    <div id="wrap">
      <div id="header" ng-controller="HeaderController">
	<a ng-show="isLog" class="menu-ico" href="javascript:" onclick="$('#panel_menu').data('panel').show();">
	  <i class="fa fa-bars"></i>
	</a>
	<table ng-show="isLog" class="user-infos">
	  <tr>
	    <td>
	      <img ng-src="{{userImgUrl}}" />
	    </td>
	  </tr>
	</table>
      </div>
      <div ng-view></div>
      <div id="push"></div>
    </div>
    <div id="fb-root"></div>
  </body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-31304821-3', 'yayo.fr');
  ga('send', 'pageview');

</script>
</html>
