<!DOCTYPE html>
<html lang="en" ng-app="spotifyDj">
  <head>
    <meta charset="utf-8">
    <title>Spotify - Dj</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet/less" href="css/style.less" />
    <link type="text/css" rel="stylesheet" href="css/social-buttons.css" />
    <link type="text/css" rel="stylesheet" href="css/font-awesome/font-awesome.min.css" />
    <script src="js/jquery/jquery-1.7.2.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script src="js/less/less-1.4.1.min.js"></script>
    <script src="js/angular/angular.min.js"></script>
    <script src="js/angular/angular-route.min.js"></script>
    <script src="js/EventEmmiter/EventEmitter-4.0.3.min.js"></script>
    <script src="js/socket.io/socket.io.js"></script>
    <script src="js/script.js"></script>
  </head>
  <body>
    <div id="panels">
      <div id="panel_menu" class="panel" ng-controller="MenuPanelController">
	<div class="listView-mini">
	  <ul class="listView-mini">
	    <li>
	      <img class="thumbmail" ng-src="{{user.imgUrl}}"/>
	      <h2>Hello {{user.name}} !</h2>
	      <a href="#" ng-click="logout()" class="icon">
		<i class="icon-signout" ></i>
	      </a>
	    </li>
	    <li ng-show="room.name">
	      <a href="#" ng-click="changeRoom()">
		<i class="thumbmail icon-reply"></i>
		<h2>Change Room</h2>
	      </a>
	    </li>
	    <li ng-show="room.name">
	      <a href="#/room/{{room.name}}">
		<i class="thumbmail icon-music"></i>
		<h2>Track Queue</h2>
	      </a>
	    </li>
	    <li ng-show="room.name">
	      <a href="#/room/{{room.name}}/search">
		<i class="thumbmail icon-search"></i>
		<h2>Search</h2>
	      </a>
	    </li>
	  </ul>
	</div>
      </div>
      <script>
	$(function() {
	  $(".panel").Panel({wrap: "#wrap"});
	});
      </script>
    </div>
    <div id="wrap">
      <div id="header" ng-controller="HeaderController">
	<a ng-show="user.isLog" class="menu-ico" herf="" onclick="$('#panel_menu').data('panel').show();">
	  <img src="images/menu.png" />
	</a>
	<table ng-show="user.isLog" class="user-infos">
	  <tr>
	    <td rowspan="2"></td>
	    <td>Hello <b>{{user.name}}</b></td>
	  </tr>
	  <tr>
	    <td><a href="#" ng-click="logout()">Logout</a></td>
	  </tr>
	</table>
      </div>
      <div ng-view></div>
      <div id="push"></div>
    </div>
    <div id="fb-root"></div>
  </body>
</html>
