<!DOCTYPE html>
<html lang="en" ng-app="spotifyDj">
  <head>
    <meta charset="utf-8">
    <title>Spotify - Dj</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap/bootstrap-responsive.min.css" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <script src="http://jsconsole.com/remote.js?DD01DAA1-F80F-4442-94BA-BB7350FF9A77"></script>
    <script src="js/jquery/jquery-1.7.2.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script src="js/angular/angular.min.js"></script>
    <script src="js/EventEmmiter/EventEmitter-4.0.3.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="js/script.js"></script>
  </head>
  <body>
    <div id="panels">
      <div id="panel_search" class="panel" ng-controller="SearchPanelController">
	<div class="list-search">
	  <form class="form-search">
	    <input type="text" class="search-query" ng-change="search()" ng-model="searchInput" />
	  </form>
	</div>
	<ul class="listView listView-nothumbs">
	  <li ng-repeat="track in results" ng-click="onTrackClick(track)">
	    <h2>{{track.name}}</h2>
	    <p>{{track.artist.name}}</p>
	    <img class="icon" ng-show="track.haveMyVote" src="images/star_full.png" />
	    <img class="icon" ng-show="!track.haveMyVote" src="images/star_empty.png"/>
	  </li>
	</ul>
      </div>
      <script>
	$(function() {
	  $(".panel").Panel({wrap: "#wrap"});
	});
      </script>
    </div>
    <div id="wrap">
      <div id="header" ng-controller="HeaderController">
	<a ng-show="user.isLog" class="search-ico" herf="" onclick="$('#panel_search').data('panel').show();">
	  <img width="30px" src="images/search.png" />
	</a>
        <a href="#">
	  <span class="logo searchPanelTrigger">Spotify DJ</span>
	</a>
	<a ng-hide="user.isLog" class="login-with-facebook" href="#" ng-click="facebookLogin()">
	  <img src="images/facebook_login.png" style="height:30px"/>
	</a>
	<table ng-show="user.isLog" class="user-infos">
	  <tr>
	    <td rowspan="2"><img ng-src="{{user.imgUrl}}"/></td>
	    <td>Hello <b>{{user.name}}</b></td>
	  </tr>
	  <tr>
	    <td><a href="#" ng-click="logout()">Logout</a></td>
	  </tr>
	</table>
      </div>
      <div ng-view></div>
      <div id="push"></div>
    </div>
    <footer>
      <div style="text-align: center;line-height: 42px; color: #fff">
        By Yayo
      </div>
    </footer>
    <div id="fb-root"></div>
  </body>
</html>
